.breadcrumb {
    justify-content: center;
}
.section-header {
    background-color: #07294d;
    color: #fff;
}
.contact-content h2 {
    color: #2a2a2a;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    text-transform: uppercase;
    transition: .5s;
}
.contact-content .icon {
    color: #232424;
    font-size: 72px;
    margin-bottom: 15px;
    margin-top: 25px;
    transition: .5s;
}
.contact-content:hover .icon, .contact-content:hover h2 {
    color: #ec5251;
}